{% extends './base.html' %}

{% block app_content %}
    <h1>Wystąpił nieoczekiwany błąd</h1>
    <p>Administrator został poinformowany. Przepraszamy za niedogodność!</p>
    <p><a href="{{ url_for('main.index') }}">Wróć na stronę główną</a></p>
{% endblock %}