/* font import */
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500,700&display=swap');

/* general styling for font, background and footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    background: #f7f7f7;
    background-image: url('../bg.png'), linear-gradient(to left, rgba(17, 103, 177, 0.5) 0%, rgba(17, 103, 177, 0) 7%), linear-gradient(to right, rgba(17, 103, 177, 0.5) 0%, rgba(17, 103, 177, 0) 7%);
    background-position: top left, left top, right top;
    background-repeat: repeat, repeat-y, repeat-y;
    margin-bottom: 38px;
    font-family: 'Quicksand', sans-serif;
}

hr {
    border-color: #ccc;
}

#map {
    width: 100%;
    height: 315px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 38px;
    background-color: rgba(17, 103, 177, 0.8);
    border-top: 2px solid #1167B1;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.footer > p {
    margin: 0;
    height: 30px;
}

/* navbar styling */
@media (max-width: 767px) {
    .navbar-header {
        min-height: 80px;
    }

    .navbar-brand > img {
        height: 50px;
    }
}

.navbar {
    background-color: rgba(17, 103, 177, 0.8);
    border-color: #1167B1;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #1167B1;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-collapse {
    border-color: #1167B1 !important;
}

.navbar-toggle {
    border-color: #1167B1 !important;
}

.navbar-toggle:focus, .navbar-toggle:hover {
    background-color: #1167B1 !important;
}

.navbar a {
    color: #fff !important;
    font-weight: bold;
}

.navbar a:hover {
    color: #333 !important;
}

.navbar a:hover > img {
    border-color: #000 !important;
}

.navbar-header {
    min-height: 100px;
}

.navbar-brand > img {
    height: 70px;
}

/* main content styling */
.content {
    background-color: rgba(255, 255, 255, 0.4);
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 35px;
}

/* profile page styling */
.blue-button {
    color: #1167B1;
    background-color: transparent;
    background-image: none;
    border-color: #1167B1;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.blue-button:hover {
    color: #fff;
    background-color: #1167B1;
    border-color: #1167B1;
}

.page-button {
    height: 75px;
    font-size: 170%;
    line-height: 50px;
}

/* forms */
.forms .btn-default {
    width: 100%;
    color: #1167B1;
    background-color: transparent;
    background-image: none;
    border-color: #1167B1;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.forms .btn-default:hover {
    color: #fff;
    background-color: #1167B1;
    border-color: #1167B1;
}

.forms .form-control:focus {
    border-color: #1167B1;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(17, 103, 177, 0.6);
}

.forms hr {
    visibility: hidden;
    margin: 0;
}


@media (max-width: 991px) {
    .forms hr {
        margin-top: 20px;
        margin-bottom: 15px;
        visibility: visible;
    }
}

/* main page */
.mainpage-content {
    background-color: rgba(17, 103, 177, 0.4);
    padding: 0;
    margin-bottom: 35px;
    width: 100%;
}

.mainpage-how {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -25px;
}

.how-cell {
    padding: 30px;
    border-radius: 30px;
    border: 3px solid #fff;
    margin-bottom: 30px;
    color: #fff;
    font-size: 140%;
}

.how-cell h1 {
    font-weight: bolder;
    margin-top: 15px;
}

.how-cell hr {
    opacity: 0.7;
    border-color: #1167B1;
    margin-top: 0;
}

.how-1 {
    background: linear-gradient(to left, rgba(17, 103, 177, 0) 10%,
    rgba(17, 103, 177, 0.65) 60%), url("../tablice.png");
}

form h3 {
    margin-top: 0;
    margin-bottom: 0;
}

form hr {
    margin-top: 0;
    margin-bottom: 15px;
}

.form-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-image-label {
    position: relative;
    height: 200px;
}

.form-image-label span {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 15px;
    right: 5px;
    font-size: 300%;
    color: #fff;
}

.form-image-label span > label {
    cursor: pointer;
}

.form-error {
    color: red;
    font-size: 150%;
    font-weight: bold;
}

.submit-btn {
    color: #1167B1;
    border: 3px #1167B1 solid;
    background-color: white;
    background-image: none;
}

.submit-btn:hover {
    color: #fff;
    background-color: #1167B1;
    border: 3px white solid;
}

.auth-helper {
    border-radius: 30px;
}

.bg-pic-1 {
    background: url('../step1.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom 10% right 20%;
}

.bg-pic-2 {
    background: url('../step2.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: bottom 10% right 20%;
}

.bg-pic-3 {
    background: url('../step3.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom 10% right 20%;
}

.col-border:after {
    display: block;
    content: "";
    width: 160px;
    height: 80px;
    position: absolute;
    top: 3px;
    left: 3px;
    border-top: 4px solid #1167B1;
    border-left: 4px solid #1167B1;
    border-radius: 15px 0 0 0;
}

.col-border-2:before {
    display: block;
    content: "";
    width: 160px;
    height: 80px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    border-bottom: 4px solid #1167B1;
    border-right: 4px solid #1167B1;
    border-radius: 0 0 15px 0;
}

.header-bg {
    background-image: linear-gradient(to right, rgba(17, 103, 177, 0) 0%, rgba(17, 103, 177, 0) 20%, rgba(17, 103, 177, 0.6) 100%);
    border-radius: 15px 15px 0 0;
    border-bottom: 3px solid rgba(17, 103, 177, 0.3);
}

.bg-light-blue {
    background-color: rgba(17, 103, 177, 0.5);
}

.bg-lighter-blue {
    background-color: rgba(17, 103, 177, 0.15);
}

.col-md-4 {
    padding-left: 20px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
