{% extends 'base.html' %}

{% block app_content %}
<h1>Błąd wykrywania!</h1>
<hr />
<p>Upewnij się, że zdjęcie jest wyraźne i dobrze pokazuje tablicę rejestracyjną!</p>
<p><a href="{{ url_for('main.index') }}">Wróć na stronę główną</a></p>
{% endblock %}