{% extends 'base.html' %}

{% block app_content %}
<h1>Zły format obrazu!</h1>
<hr />
<p>Upewnij się, że zdjęcie jest w formacie JPG lub PNG!</p>
<p><a href="{{ url_for('main.index') }}">Wróć na stronę główną</a></p>
{% endblock %}