{% extends 'base.html' %}

{% block app_content %}
<div class="mainpage-how">
    <div class="how-cell mt-3 mb-4 bg-light-blue auth-helper">
        <h1>Jak to działa?</h1>
        <hr />

        <div class="row p-3" style="min-height: 350px; display: flex; flex-wrap: wrap; margin-right: -5px; margin-left: -5px;">
            <div class="col-md-4 p-3 bg-pic-1 col-border">
                <div class="col-border-2">
                    <h2>Zdjęcie</h2>
                    <p>Przesłane zdjęcie trafia do nas i jest wnikliwie analizowane.</p>
                </div>
            </div>
            <div class="col-md-4 p-3 bg-pic-2 col-border">
                <div class="col-border-2">
                    <h2>AI</h2>
                    <p>Nasz zaawansowany system sztucznej inteligencji odczytuje ze zdjęcia numer rejestracyjny.</p>
                </div>
            </div>
            <div class="col-md-4 p-3 bg-pic-3 col-border">
                <div class="col-border-2">
                    <h2>Wyniki</h2>
                    <p>Dane ze zdjęcia oraz dane o numerze są prezentowane w mgnieniu oka!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="how-cell how-1">
        <div class="row">
            <div class="col-md-12">
                <h1>Wypróbuj już teraz!</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Kliknij <b>Prześlij</b>, wybierz zdjęcie i to wszystko!</p>
                <p>Tylko pamiętaj, żeby była widoczna na nim tablica.</p>
                <p>Nasz system zajmie się resztą!</p>
            </div>
            <div class="col-md-4">
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <label for="image" class="btn btn-primary btn-lg btn-block blue-button page-button submit-btn">
                        <i class="fas fa-image"></i> Prześlij...
                    </label>
                    <input id="image" type="file"  name="image" style="display: none;" onchange="this.form.submit();"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}