{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/mapbox-gl.js') }}"></script>
    <link href="{{ url_for('static', filename='css/mapbox-gl.css') }}" rel="stylesheet" />
{% endblock %}

{% block app_content %}

<h1>Wyniki analizy</h1>
<hr />
<div class="row">
  <div class="col-md-6">
    <div style="background-image: url('{{ page_data[0] }}'); width: 100%; height: 315px; background-position: center; background-size: cover;"></div>
    <h2>Tablica rejestracyjna</h2>
    <hr />
    <img src="{{ page_data[1] }}" style="width: 100%;" />
    <table class="table" style="width: 100%; border-radius: 10px; background-color: rgba(17, 103, 177, 0.3);
    margin-top: 10px;   border-collapse: collapse;   border-style: hidden;">
      <tr style="border-bottom: 2px solid #1167B1;">
          <th style="width: 30%; text-align: right; border-right: 2px solid #1167B1;">Kraj</th>
          <td>{{ page_data[2] }}</td>
      </tr>
      <tr style="border-bottom: 2px solid #1167B1;">
          <th style="width: 30%; text-align: right; border-right: 2px solid #1167B1;">{{ page_data[9] }}</th>
          <td>{{ page_data[3] }}</td>
      </tr>
      <tr>
          <th style="width: 30%; text-align: right; border-right: 2px solid #1167B1;">{{ page_data[10] }}</th>
          <td>{{ page_data[4] }}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h2>Zdjęcie</h2>
    <hr />
    <table class="table" style="width: 100%; border-radius: 10px; background-color: rgba(17, 103, 177, 0.3);
    margin-top: 10px;   border-collapse: collapse;   border-style: hidden;">
      <tr style="border-bottom: 2px solid #1167B1;">
          <th style="width: 30%; text-align: right; border-right: 2px solid #1167B1;">Aparat</th>
          <td>{{ page_data[5] }}</td>
      </tr>
      <tr style="border-bottom: 2px solid #1167B1;">
          <th style="width: 30%; text-align: right; border-right: 2px solid #1167B1;">Data</th>
          <td>{{ page_data[6] }}</td>
      </tr>
      <tr>
          <th style="width: 30%; text-align: right; border-right: 2px solid #1167B1;">Godzina</th>
          <td>{{ page_data[7] }}</td>
      </tr>
    </table>
    <h2>Lokalizacja</h2>
    <hr />
    <table class="table" style="width: 100%; border-radius: 10px; background-color: rgba(17, 103, 177, 0.3);
    margin-top: 10px;   border-collapse: collapse;   border-style: hidden;">
      <tr>
          <th style="width: 30%; text-align: right; border-right: 2px solid #1167B1;">Współrzędne</th>
          <td>{{ page_data[8] }}</td>
      </tr>
    </table>
    <div id="map"></div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script type="text/javascript">
  map.on('style.load', () => {
    const waiting = () => {
      if (!map.isStyleLoaded()) {
        setTimeout(waiting, 200);
      } else {
        colourFeature({{page_data[11]}});
        createMarker({{page_data[12][0]}}, {{page_data[12][1]}});
      }
    };
    waiting();
  });
</script>
{% endblock %}